* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

.main {
  background-color: #F6F8FA;

  .wrapper {
    align-items: start;
  }

  .personal {
    padding-bottom: 128px;
  }

  .accaunt {
    padding: 40px 40px 40px 36px;
    background-color: #FFF;
    max-width: 41%;
    flex-basis: 41%;
    border-radius: 5px;

    //accaunt__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
      margin-bottom: 23px;
    }

    //accaunt-dataChange
    &-dataChange {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;

      //accaunt-dataChange__text
      &__text {
        color: #7C92A8;
        font-size: 16px;
        font-weight: 500;
        line-height: 140.625%;
      }

      //accaunt-dataChange__btn
      &__btn {
        color: #312D21;
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;
        padding: 9px 10px;
        background-color: #FFF;
        border: 1px solid #BDCCD4;
        cursor: pointer;
        border-radius: 5px;
      }

      //accaunt-dataChange--address
      &--address {
        margin-top: 16px;
      }
    }

    //accaunt-data
    &-data {
      margin-bottom: 24px;

      //accaunt-data__text
      &__text {
        color: #181B20;
        font-size: 16px;
        font-weight: 400;
        line-height: 140.625%;

        //accaunt-data__text--bold
        &--bold {
          font-weight: 500;
          margin-bottom: 4px;
        }
      }

      //accaunt-data__link
      &__link {
        color: #3D7BF3;
        font-size: 15px;
        font-weight: 400;
        text-decoration-line: underline;
      }
    }

    //accaunt-column
    &-column {
      display: flex;
      justify-content: space-between;
      margin-right: 34px;

      .accaunt-data {
        max-width: 57%;
        flex-basis: 57%;

        &:first-child {
          max-width: 31%;
          flex-basis: 31%;
        }
      }
    }

    //accaunt__address
    &__address {
      color: #181B20;
      font-size: 16px;
      font-weight: 400;
      line-height: 140.625%;
      margin-bottom: 10px;
    }

    //accaunt-map
    &-map {
      width: 446px;
      height: 208px;
    }
  }

  .accauntData {
    padding: 40px 40px 44px 36px;
    background-color: #FFF;
    max-width: 41%;
    flex-basis: 41%;
    border-radius: 5px;

    //accauntData__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
      margin-bottom: 24px;
    }

    //accauntData-tit
    &-tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      //accauntData-tit__text
      &__text {
        color: #7C92A8;
        font-size: 16px;
        font-weight: 500;
        line-height: 140.625%;
      }

      //accauntData-tit__line
      &__line {
        border-bottom: 1px solid #CFD9DE;
        width: 255px;
      }
    }

    //accauntData-persData
    &-persData {

      //accauntData-persData__birthday
      &__birthday {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 59px;
        gap: 0 10px;



        .birthday {

          //birthday__img
          &__img {
            width: 28px;
            height: 20px;
            margin: 20px 0 0 2px;
          }

          //birthday__text
          &__text {
            color: #7C92A8;
            font-size: 12px;
            font-weight: 400;
            margin-top: 20px;
          }
        }

        .group__input {
          width: 213px;
        }
      }

      //accauntData-persData__btns
      &__btns {
        margin: 37px 0 0 129px;
        display: flex;
        justify-content: space-between;

        .btns {

          //btns__cancel
          &__cancel {
            color: #312D21;
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
            padding: 13px 16px;
            border-radius: 5px;
            border: 1px solid #BDCCD4;
            background: #FFF;
          }

          //btns__save
          &__save {
            padding: 13px 31px;
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
            border-radius: 5px;
            background: #3D7BF3;
            border: none;
          }
        }
      }
    }
  }

  .accauntAddress {
    padding: 40px 40px 44px 36px;
    background-color: #FFF;
    max-width: 41%;
    flex-basis: 41%;
    border-radius: 5px;
  }










  .group {

    //group__title
    &__title {
      color: #181B20;
      font-size: 14px;
      font-weight: 400;
      display: block;
      margin-bottom: 4px;

      //group__title--red
      &--red {
        color: #E7263D;
        display: inline-block;
      }

      //group__title--link
      &--link {
        color: #3D7BF3;
        display: inline-block;
      }
    }

    //group__input
    &__input {
      width: 207px;
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #CFD9DE;
      background: #FFF;
      padding-left: 5px;
    }

    &--long {
      margin: 9px 0 16px 0;

      .group__input {
        width: 439px;
      }
    }

    //group--short
    &--short {
      margin-bottom: 25px;
      .group__input {
        width: 132px;
      }
    }

    //group--vk
    &--vk {
      margin-top: 16px;

      .group__input {
        width: 430px;
        padding-left: 14px;
      }
    }
  }

  .empty {
    max-width: 28%;
    flex-basis: 28%;
  }
}