* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

button {
  border: none;
  background: inherit;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

.main {
  background-color: #F6F8FA;

  .wrapper {
    align-items: start;
  }

  .group {

    //group__title
    &__title {
      color: #181B20;
      font-size: 14px;
      font-weight: 400;
      display: block;
      margin-bottom: 4px;

      //group__title--red
      &--red {
        color: #E7263D;
        display: inline-block;
      }

      //group__title--link
      &--link {
        color: #3D7BF3;
        display: inline-block;
      }
    }

    //group__input
    &__input {
      width: 207px;
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #CFD9DE;
      background: #FFF;
      padding-left: 5px;
    }

    &--long {
      margin: 9px 0 16px 0;

      .group__input {
        width: 439px;
      }
    }

    //group--short
    &--short {
      margin-bottom: 25px;

      .group__input {
        width: 132px;
      }
    }

    //group--vk
    &--vk {
      margin-top: 16px;

      .group__input {
        width: 430px;
        padding-left: 14px;
      }
    }
  }

  .empty {
    max-width: 28%;
    flex-basis: 28%;
  }

  .personal {
    padding-bottom: 128px;
  }

  .accaunt {
    padding: 40px 40px 40px 36px;
    background-color: #FFF;
    max-width: 41%;
    flex-basis: 41%;
    border-radius: 5px;

    //accaunt__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
      margin-bottom: 23px;
    }

    //accaunt-dataChange
    &-dataChange {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;

      //accaunt-dataChange__text
      &__text {
        color: #7C92A8;
        font-size: 16px;
        font-weight: 500;
        line-height: 140.625%;
      }

      //accaunt-dataChange__btn
      &__btn {
        color: #312D21;
        font-size: 12px;
        font-weight: 500;
        line-height: 100%;
        padding: 9px 10px;
        background-color: #FFF;
        border: 1px solid #BDCCD4;
        cursor: pointer;
        border-radius: 5px;
      }

      //accaunt-dataChange--address
      &--address {
        margin-top: 16px;
      }
    }

    //accaunt-data
    &-data {
      margin-bottom: 24px;

      //accaunt-data__text
      &__text {
        color: #181B20;
        font-size: 16px;
        font-weight: 400;
        line-height: 140.625%;

        //accaunt-data__text--bold
        &--bold {
          font-weight: 500;
          margin-bottom: 4px;
        }
      }

      //accaunt-data__link
      &__link {
        color: #3D7BF3;
        font-size: 15px;
        font-weight: 400;
        text-decoration-line: underline;
      }
    }

    //accaunt-column
    &-column {
      display: flex;
      justify-content: space-between;
      margin-right: 34px;

      .accaunt-data {
        max-width: 57%;
        flex-basis: 57%;

        &:first-child {
          max-width: 31%;
          flex-basis: 31%;
        }
      }
    }

    //accaunt__address
    &__address {
      color: #181B20;
      font-size: 16px;
      font-weight: 400;
      line-height: 140.625%;
      margin-bottom: 10px;
    }

    //accaunt-map
    &-map {
      width: 446px;
      height: 208px;
    }
  }

  .accauntData {
    padding: 40px 40px 44px 36px;
    background-color: #FFF;
    max-width: 41%;
    flex-basis: 41%;
    border-radius: 5px;

    //accauntData__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
      margin-bottom: 24px;
    }

    //accauntData-tit
    &-tit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      //accauntData-tit__text
      &__text {
        color: #7C92A8;
        font-size: 16px;
        font-weight: 500;
        line-height: 140.625%;
      }

      //accauntData-tit__line
      &__line {
        border-bottom: 1px solid #CFD9DE;
        width: 255px;
      }
    }

    //accauntData-persData
    &-persData {

      //accauntData-persData__birthday
      &__birthday {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 59px;
        gap: 0 10px;



        .birthday {

          //birthday__img
          &__img {
            width: 28px;
            height: 20px;
            margin: 20px 0 0 2px;
          }

          //birthday__text
          &__text {
            color: #7C92A8;
            font-size: 12px;
            font-weight: 400;
            margin-top: 20px;
          }
        }

        .group__input {
          width: 213px;
        }
      }

      //accauntData-persData__btns
      &__btns {
        margin: 37px 0 0 129px;
        display: flex;
        justify-content: space-between;

        .btns {

          //btns__cancel
          &__cancel {
            color: #312D21;
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
            padding: 13px 16px;
            border-radius: 5px;
            border: 1px solid #BDCCD4;
            background: #FFF;
            cursor: pointer;
          }

          //btns__save
          &__save {
            padding: 13px 31px;
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
            border-radius: 5px;
            background: #3D7BF3;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  .accauntAddress {
    padding: 40px 40px 44px 36px;
    background-color: #FFF;
    max-width: 41%;
    flex-basis: 41%;
    border-radius: 5px;
  }

  .passwordchange {
    padding-bottom: 411px;
  }

  .passwordinp {
    padding-bottom: 128px;

    .password__title {
      margin-bottom: 30px;
    }
  }

  .password {
    background-color: #FFF;
    padding: 39px 40px 44px 36px;
    max-width: 41%;
    flex-basis: 41%;
    border-radius: 5px;

    //password__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
    }

    //password__btn
    &__btn {
      color: #312D21;
      font-size: 12px;
      font-weight: 500;
      line-height: 100%;
      padding: 9px 10px;
      border-radius: 5px;
      border: 1px solid #BDCCD4;
      background: #FFF;
    }

    //password__text
    &__text {
      color: #181B20;
      font-size: 14px;
      font-weight: 400;
      margin-top: 16px;
    }
  }

  .favorite {
    padding-bottom: 128px;

    //favorite__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
      margin-bottom: 10px;
    }

    .table {
      border-radius: 5px;
      border: 1px solid #EEF4F8;
      background: #FFF;
      box-shadow: 0px 0px 4px 0px rgba(45, 51, 56, 0.03);
      border-spacing: 0;
      border-collapse: separate;
      display: block;

      //table-head
      &-head {
        background-color: #D9E7EE;
        stroke-width: 1px;
        stroke: #EEF4F8;
        filter: drop-shadow(0px 0px 4px rgba(45, 51, 56, 0.03));

        //table-head__titles
        &__titles {

          .titles {

            //titles__text
            &__text {
              color: #181B20;
              font-size: 18px;
              font-weight: 700;
              line-height: 140.625%;
              text-align: start;

              &--first {
                padding: 11px 0 11px 22px;
                border-top-left-radius: 5px;
              }

              &--last {
                padding-right: 37px;
                border-top-right-radius: 5px;
              }
            }
          }
        }
      }

      //table-middle
      &-middle {


        //table-middle__image
        &__image {
          padding-left: 20px;

          .image {

            //image__img
            &__img {
              width: 95px;
              height: 62px;
            }
          }
        }

        //table-middle__name
        &__name {
          padding: 0 56px 0 34px;

          .name {

            //name__text
            &__text {
              color: #181B20;
              font-size: 16px;
              font-weight: 500;
              line-height: 93.75%;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              height: 15px;
              max-width: 354px;
            }
          }
        }

        //table-middle__price
        &__price {
          padding-right: 67px;

          .price {

            //price__real
            &__real {
              display: none;
            }

            //price__discount
            &__discount {
              color: #181B20;
              font-size: 16px;
              font-weight: 500;
              line-height: 93.75%;
              width: 74px;
            }
          }

          //table-middle__price--discount
          &--discount {
            .price__real {
              display: block;
              color: #7C92A8;
              font-size: 12px;
              font-weight: 400;
              line-height: 117.92%;
              text-decoration-line: line-through;
              margin-bottom: 6px;

            }
          }
        }

        //table-middle__btns
        &__btns {
          padding: 25px 32px 25px 0;

          .btns {

            //btns__btn
            &__btn {
              color: #181B20;
              font-size: 14px;
              font-weight: 500;
              line-height: 93.75%;
              border-radius: 5px;
              border: 1px solid #BDCCD4;
              background: #FFF;
              padding: 8px 17px;
              display: block;
              cursor: pointer;
              width: 91px;

              &:hover {
                background-color: #D9E7EE;
              }

              &--basket {
                padding: 8px 12px;
                margin-bottom: 7px;
              }

              &--inBasket {
                background-color: #BDCCD4;
                color: #7C92A8;
              }

              &--delete {
                &:hover {
                  background-color: #df6c7a;
                }
              }
            }
          }
        }
      }

      td {
        border-top: 1px solid #CFD9DE;
      }
    }
  }

  .history {
    padding-bottom: 128px;

    //history__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
    }

    //history-accordion
    &-accordion {
      margin-top: 10px;
      transition: all 1s;

      //history-accordion__top
      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 9px 13px 9px 22px;
        gap: 0 415px;
        background-color: #FFF;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #CFD9DE;



        .top {

          //top__title
          &__title {
            color: #181B20;
            font-size: 18px;
            font-weight: 700;
            line-height: 140.625%;
            width: 130px;
          }

          //top-rightCol
          &-rightCol {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 19px;

            //top-rightCol__btn
            &__btn {
              color: #312D21;
              text-align: center;
              font-size: 12px;
              font-weight: 500;
              line-height: 100%;
              border-radius: 5px;
              border: 1px solid #BDCCD4;
              background: #FFF;
              padding: 9px 31px;
              cursor: pointer;
            }

            //top-rightCol__status
            &__status {
              color: #E7263D;
              font-size: 14px;
              font-weight: 400;
              line-height: 140.625%;
              width: 76px;
            }

            //top-rightCol__arrow
            &__arrow {
              width: 12px;
              height: 6px;
              display: flex;

              &--down {
                transform: rotate(180deg);
              }
            }
          }
        }

        &--paid {
          .top-rightCol__btn {
            display: none;
          }

          .top-rightCol__status {
            text-align: end;
            color: #0DD351;
            margin-left: 136px;
          }
        }
      }

      //history-accordion__middle
      &__middle {
        background-color: #FFF;
        border: 1px solid #CFD9DE;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 29px 0 29px;
        opacity: 0;
        overflow: hidden;
        height: 0;
        transition: 0.3s all;

        &--open {
          overflow: visible;
          opacity: 1;
          height: 100%;
          padding: 14px 29px 35px 29px;
        }

        .middle {

          &-table {
            border-spacing: 0;
            border-collapse: separate;
            display: block;

            //middle-table__head
            &__head {

              .head {

                //head-titles
                &-titles {

                  //head-titles__text
                  &__text {
                    color: #181B20;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 140.625%;
                    border-bottom: 1px solid #CFD9DE;

                    &--first {
                      text-align: start;
                      padding: 9px 0 9px 11px;
                    }

                    &--last {
                      padding-right: 15px;
                      text-align: end;
                    }
                  }
                }
              }
            }

            //middle-table__mid
            &__mid {

              .mid {

                //mid-name
                &-name {
                  padding: 7px 72px 7px 11px;
                  border-bottom: 1px solid #CFD9DE;

                  //mid-name__text
                  &__text {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: 33px;
                    width: 483px;
                    color: #181B20;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 117.92%;
                    display: flex;
                    align-items: center;
                  }
                }

                //mid-count
                &-count {
                  border-bottom: 1px solid #CFD9DE;

                  //mid-count__text
                  &__text {
                    color: #181B20;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 93.75%;
                    width: 40px;
                  }
                }

                //mid-price
                &-price {
                  padding: 0 16px 0 42px;
                  border-bottom: 1px solid #CFD9DE;

                  //mid-price__text
                  &__text {
                    color: #181B20;
                    text-align: right;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 93.75%;
                    width: 87px;
                  }
                }
              }
            }
          }

          //middle-summary
          &-summary {
            border-spacing: 0;
            border-collapse: separate;
            display: block;
            margin: 12px 0 52px 490px;

            //middle-summary__delivery
            &__delivery {
              padding-bottom: 8px;

              &--right {
                text-align: -webkit-right;
                padding: 0 0 8px 58px;
              }

              .delivery {

                //delivery__text
                &__text {
                  color: #181B20;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 93.75%;
                }

                //delivery__price
                &__price {
                  color: #181B20;
                  text-align: right;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 110%;
                  width: 56px;
                }
              }
            }

            //middle-summary__discount
            &__discount {
              padding-bottom: 22px;

              &--right {
                text-align: -webkit-right;
              }

              .discount {

                //discount__text
                &__text {
                  color: #0DD351;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 93.75%;
                }

                //discount__price
                &__price {
                  color: #0DD351;
                  text-align: right;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 110%;
                }
              }
            }

            //middle-summary__sum
            &__sum {

              &--right {
                text-align: -webkit-right;
              }

              .sum {

                //sum__text
                &__text {
                  color: #181B20;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 93.75%;
                }

                //sum__price
                &__price {
                  color: #181B20;
                  text-align: right;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 93.75%;
                  width: 70px;
                }
              }
            }
          }

          //middle-delivery
          &-delivery {
            border-spacing: 0;
            border-collapse: separate;
            display: block;

            //middle-delivery__info
            &__info {
              padding-bottom: 8px;

              &--right {
                padding-left: 20px;
              }

              .info {

                //info__text
                &__text {
                  color: #181B20;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 140.625%;

                  &--light {
                    font-weight: 400;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: 23px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .email {
    background-color: #FFF;
    padding: 46px 20px 53px 36px;
    border-radius: 5px;


    //email__title
    &__title {
      color: #181B20;
      font-size: 24px;
      font-weight: 700;
      line-height: 140.625%;
      margin-bottom: 8px;
    }

    //email__text
    &__text {
      color: #181B20;
      font-size: 16px;
      font-weight: 400;
      line-height: 140.625%;
      margin-bottom: 24px;
    }

    //email-checkbox
    &-checkbox {
      cursor: pointer;
      display: inline-flex;
      align-items: center;

      //email-checkbox__input
      &__input {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #CFD9DE;
      }

      //email-checkbox__label
      &__label {
        margin-left: 7px;
        color: #181B20;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }








}